<header class="top-header">
    <div class="header-left">
        <div class="clickable-title" (click)="navigateTotopchart()" title="{{ 'TOP_CHART_TITLE' | translate }}">
            <span style="font-size: 1rem; margin-right: 10px;"></span>
            <span class="site-title">{{ 'TOP_CHART_TITLE' | translate }}</span>
        </div>
    </div>
    
    <div class="header-right">
        <app-language-switcher></app-language-switcher>

        <dx-button
            hint ="{{ 'TOP_CHART_TITLE' | translate }}" 
            icon="chart"
            type="default"
            stylingMode="contained"
            (onClick)="navigateTotopchart()">
        </dx-button>

        <button (click)="navigateToPortfolio()" class="portfolio-btn" title="ดูพอร์ตโฟลิโอของฉัน">
            <span class="pi pi-chart-pie"></span>
        </button>
    </div>
</header>

<div class="buy-sell-container">
    <div class="header-section sell-mode">
        <h2>{{ 'SELL_TITLE' | translate }}</h2>
        <div class="fund-id-tag">ID: {{ fundId }}</div>
    </div>
    <h3 style="margin-top: 0; color: #333;">{{ fundData?.FundName }}</h3>

    <div class="portfolio-card sell-style">
        <div class="info-row">
            <span>{{ 'SELL_HELD_UNITS' | translate }}</span>
            <strong>{{ heldUnits | number:'1.2-2' }} Units</strong>
        </div>
        <div class="info-row">
            <span>{{ 'SELL_CURRENT_VAL' | translate }} (NAV {{ fundData?.NAV }}):</span>
            <strong>{{ heldUnits * fundData?.NAV | number:'1.2-2' }} ฿</strong>
        </div>
    </div>

        <div class="form-area dx-fieldset">

        <div class="dx-field">
            <div class="dx-field-label">{{ 'SELL_AMOUNT_LABEL' | translate }}</div>
            <div class="dx-field-value">
                <dx-number-box 
                    [(value)]="sellAmount" 
                    [max]="heldUnits" 
                    [min]="0"
                    format="#,##0.00"
                    (onValueChanged)="onAmountChange()">
                </dx-number-box>
            </div>
        </div>

        <div class="dx-field" style="text-align: left; margin-top: -15px;" > <div class="dx-field-label"></div> <div class="dx-field-value">
                <dx-check-box 
                    [text]="'SELL_OPTION_ALL' | translate"
                    [(value)]="sellAllUnits"
                    (onValueChanged)="updateSellAmount()">
                </dx-check-box>
            </div>
        </div>
    </div>

        <div class="dx-field">
            <div class="dx-field-label">{{ 'BUY_DATE' | translate }}</div>
            <div class="dx-field-value">
                <dx-date-box [value]="today" [min]="today" displayFormat="dd/MM/yyyy" type="date"></dx-date-box>
            </div>
        </div>

        <div class="summary-box">
            <div class="dx-field">
                <div class="dx-field-label">{{ 'SELL_SUM_TOTAL' | translate }}</div>
                <div class="dx-field-value" style="text-align: right; font-weight: bold;">
                    {{ sellAmount * fundData?.NAV | number:'1.2-2' }} ฿
                </div>
            </div>
            <div class="dx-field">
                <div class="dx-field-label">{{ 'SELL_FEE' | translate }}</div>
                <div class="dx-field-value fee-text" style="text-align: right;">
                    - {{ calculateFee(sellAmount * fundData?.NAV, 0.02) | number:'1.2-2' }} ฿
                </div>
            </div>
            <hr style="border: 0; border-top: 1px solid #ccc; margin: 10px 0;">
            <div class="dx-field">
                <div class="dx-field-label" style="align-self: flex-end;">{{ 'SELL_NET_RECEIVE' | translate }}</div>
                <div class="dx-field-value net-amount" style="text-align: right;">
                    {{ (sellAmount * fundData?.NAV) - calculateFee(sellAmount * fundData?.NAV, 0.02) | number:'1.2-2' }} ฿
                </div>
            </div>
        </div>

        <div class="action-buttons">
            <dx-button 
                [text]="'BUTTON_CONFIRM_SELL' | translate"
                type="danger" 
                [width]="'100%'" 
                [height]="50"
                [disabled]="sellAmount <= 0 || sellAmount > heldUnits"
                (onClick)="confirmSell()">
            </dx-button>
        </div>
    </div>

<div *ngIf="sellSuccess" class="popup-overlay">
    <div class="success-card">
        <i class="pi pi-check-circle" style="font-size: 3rem; color: #28a745; margin-bottom: 10px;"></i>
        <h3>{{ 'SELL_SUCCESS_TITLE' | translate }}</h3>
        <p>{{ 'SELL_SUCCESS_MSG' | translate }}</p>
        
        <dx-button 
            [text]="'LINK_BACK' | translate"  
            type="default" 
            [width]="120"
            (onClick)="closeSuccess()">
        </dx-button>
    </div>
</div>

<div class="back-nav">
    <a [routerLink]="['/detail', fundId]" class="pi pi-backward back-link"> {{ 'LINK_BACK_DETAIL' | translate }}</a>
</div>