@import "primeicons/primeicons.css";

.top-header { display: flex; justify-content: space-between; align-items: center; padding: 15px 30px; background-color: #ffffff; border-bottom: 1px solid #e0e0e0; }
.site-title { font-weight: 800; font-size: 1.6em; color: #2c3e50; }
.header-right { display: flex; gap: 10px; gap: 20px;}
.manage-button { background-color: #f8f9fa; border: 1px solid #ddd; padding: 8px 15px; border-radius: 20px; cursor: pointer; display: flex; align-items: center; gap: 8px; }


.clickable-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #2c3e50;
    transition: color 0.2s;

    &:hover {
        color: #00AEEF; 
        
        .site-title {
            color: #00AEEF;
        }
    }
}

.content-container { 
    width: 100%; 
    padding: 30px; 
    background-color: #f4f6f9; 
    min-height: 100vh; 
    box-sizing: border-box; 
}

.top-charts-branding{font-size: 17px; }
.filter-area { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; background: white; padding: 15px; border-radius: 8px; width: 100%; }
.chart-grid-area { display: flex; flex-direction: column; gap: 30px; width: 100%; }
#chart { background: white; padding: 20px; border-radius: 8px; height: 400px; width: 100%; }
#fund-list-grid { background: white; padding: 0; width: 100%; border-radius: 8px; overflow: hidden; }

::ng-deep #port-list-grid {
    .dx-datagrid-headers .dx-header-row {
        background-color: #909090; 
        color: white;
        td { 
            border-right: 1px solid #bbb !important; 
            font-weight: bold !important; 
            text-align: center !important; 
            box-align: center;
        }
    }
    .dx-row-alt > td { background-color: #eaf6f9 !important; }
    .dx-datagrid-borders > .dx-datagrid-headers,
    .dx-datagrid-borders > .dx-datagrid-rowsview,
    .dx-datagrid-rowsview .dx-row > td {
        border-color: #ddd !important;
    }
    .dx-datagrid-rowsview .dx-row > td {
        vertical-align: middle;
        padding: 10px;
        cursor: pointer;
    }
}
::ng-deep #history-grid {
    .dx-datagrid-headers .dx-header-row {
        background-color: #909090; 
        color: white;
        td { 
            border-right: 1px solid #bbb !important; 
            font-weight: bold !important; 
            text-align: center !important; 
            box-align: center;
        }
    }
    .dx-row-alt > td { background-color: #eaf6f9 !important; }
    .dx-datagrid-borders > .dx-datagrid-headers,
    .dx-datagrid-borders > .dx-datagrid-rowsview,
    .dx-datagrid-rowsview .dx-row > td {
        border-color: #ddd !important;
    }
    .dx-datagrid-rowsview .dx-row > td {
        vertical-align: middle;
        padding: 10px;
        cursor: pointer;
    }
}