<header class="top-header">
    <div class="header-left">
        <div class="clickable-title" (click)="navigateTotopchart()" title="{{ 'TOP_CHART_TITLE' | translate }}">
            <span style="font-size: 1rem; margin-right: 10px;"></span>
            <span class="site-title">{{ 'TOP_CHART_TITLE' | translate }}</span>
        </div>
    </div>
    
    <div class="header-right">
        <app-language-switcher></app-language-switcher>
    </div>
</header>

<div class="content-container">
    <div class="filter-area">
        <div class="filter-left">
            <div class="top-charts-branding">
                <span class="pi pi-chart-pie"></span>
                <span class="chart-text"> {{ 'PORT_SUBTITLE' | translate }}</span>
            </div>
        </div>
    <div class="filter-right">
    <label for="search-fund">{{ 'SEARCH_LABEL' | translate }}</label>
    
    <dx-text-box 
        id="search-fund" 
        placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" 
        mode="search" 
        width="250"
        [valueChangeEvent]="'keyup'"
        (onValueChanged)="onSearchPortfolio($event)">
    </dx-text-box>
</div>
</div>

<div style="padding: 20px;">
    <dx-pie-chart
        title="{{ 'PORT_TITLE' | translate }}"
        [dataSource]="portfoliotData"
        (onPointClick)="pointClickHandler($event)"
        (onLegendClick)="legendClickHandler($event)">
        
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip"></dxo-tooltip>

        <dxi-series argumentField="FundName" valueField="TotalValue">
            <dxo-label [visible]="true" [customizeText]="customizeLabel">
                <dxo-connector [visible]="true"></dxo-connector>
            </dxo-label>
        </dxi-series>
    </dx-pie-chart>

    <hr>

<h3>{{ 'PORT_MY_ASSETS' | translate }}</h3>
    <div id="port-list-grid">
        <dx-data-grid
            [dataSource]="portfoliotData"
            [showBorders]="true">

            <dxi-column
                dataField="LastUpdate"
                [caption]="'COL_LAST_UPDATE' | translate"
                dataType="datetime"
                format="dd/MM/yyyy HH:mm:ss"
                [sortIndex]="0"
                sortOrder="desc"> 
            </dxi-column>

            <dxi-column dataField="FundName" [caption]="'TABLE_FUND' | translate" alignment="left"></dxi-column>
            <dxi-column dataField="Company" [caption]="'TABLE_COMPANY' | translate" alignment="left"></dxi-column>
            <dxi-column dataField="Units" [caption]="'COL_UNITS' | translate" format="#,##0.00" alignment="left"></dxi-column>
            <dxi-column dataField="NAV" [caption]="'COL_NAV' | translate" format="#,##0.00" alignment="left"></dxi-column>
            <dxi-column dataField="TotalValue" [caption]="'COL_TOTAL_VAL' | translate" format="#,##0.00"alignment="left"></dxi-column>
            
            </dx-data-grid>
    </div>

    <br><br>

    <h3>{{ 'PORT_HISTORY' | translate }}</h3>
    <div id="history-grid">
        <dx-data-grid 
            [dataSource]="transactionData"
            [showBorders]="true"
            [rowAlternationEnabled]="true">
            
            <dxi-column 
                dataField="TransactionDate" 
                [caption]="'COL_TX_DATE' | translate"
                dataType="datetime" 
                format="dd/MM/yyyy HH:mm:ss"
                [sortIndex]="0" 
                sortOrder="desc"
                [width]="180">
            </dxi-column>

            <dxi-column dataField="FundName" [caption]="'TABLE_FUND' | translate"></dxi-column>
            
            <dxi-column dataField="Type" [caption]="'COL_TX_TYPE' | translate" alignment="center" [width]="100">
                <div *dxTemplate="let data of 'cell'">
                    <span [style.color]="data.value === 'BUY' ? 'green' : 'red'" style="font-weight: bold;">
                        {{ (data.value === 'BUY' ? 'TX_BUY' : 'TX_SELL') | translate }}
                    </span>
                </div>
            </dxi-column>

            <dxi-column dataField="Amount" [caption]="'COL_TX_AMOUNT' | translate" format="#,##0.00"></dxi-column>
        </dx-data-grid>
    </div>
</div>