@import "primeicons/primeicons.css";

.top-header { display: flex; justify-content: space-between; align-items: center; padding: 15px 30px; background-color: #ffffff; border-bottom: 1px solid #e0e0e0; }
.site-title { font-weight: 800; font-size: 1.6em; color: #2c3e50; }
.header-right { display: flex; gap: 10px; gap: 20px;}

.manage-button { background-color: #f8f9fa; border: 1px solid #ddd; padding: 8px 15px; border-radius: 20px; cursor: pointer; display: flex; align-items: center; gap: 8px; }

/* ✅ เพิ่มสไตล์ปุ่ม Portfolio */
.portfolio-btn {
    background-color: #00AEEF; /* สีฟ้า */
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    font-size: 0.95em;
    transition: background-color 0.2s;

    &:hover {
        background-color: #008ec2;
    }

    .pi { font-size: 1.1em; }
}

.content-container { 
    width: 100%; 
    padding: 30px; 
    background-color: #f4f6f9; 
    min-height: 100vh; 
    box-sizing: border-box; 
}

.top-charts-branding{font-size: 17px; }
.filter-area { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; background: white; padding: 15px; border-radius: 8px; width: 100%; }
.chart-grid-area { display: flex; flex-direction: column; gap: 30px; width: 100%; }
#chart { background: white; padding: 20px; border-radius: 8px; height: 400px; width: 100%; }
#fund-list-grid { background: white; padding: 0; width: 100%; border-radius: 8px; overflow: hidden; }


::ng-deep #fund-list-grid {
    .dx-datagrid-headers .dx-header-row {
        background-color: #909090; 
        color: white;
        td { 
            border-right: 1px solid #bbb !important; 
            font-weight: bold !important; 
            text-align: center !important; 
            box-align: center;
        }
    }
    .dx-row-alt > td { background-color: #eaf6f9 !important; }
    .dx-datagrid-borders > .dx-datagrid-headers,
    .dx-datagrid-borders > .dx-datagrid-rowsview,
    .dx-datagrid-rowsview .dx-row > td {
        border-color: #ddd !important;
    }
    .dx-datagrid-rowsview .dx-row > td {
        vertical-align: middle;
        padding: 10px;
        cursor: pointer;
    }
}


.rank-badge { font-weight: 900; font-size: 1.2em; }
.rank-1 { color: #d4af37; } .rank-2 { color: #2ecc71; } .rank-3 { color: #e74c3c; }
.fund-name { color: #2e8b57; font-weight: bold; }
.fund-company-sub { font-size: 0.85em; color: #777; }
.return-val { font-weight: bold; color: #333; }