<div id="top-chart">
    <h2>📊 ผลการดำเนินงานกองทุน 10 อันดับแรก (ROI)</h2>
    <dx-chart
        id="chart"
        title="10 อันดับกองทุนรวมที่ติด Top Returns มากที่สุด"
        [dataSource]="chartData">

        <dxo-common-series-settings type="bar" argumentField="FundName">
            <dxo-label [visible]="true" [customizeText]="customizeSeriesLabel">
                <dxo-font color="red" [size]="10"></dxo-font>
            </dxo-label>
        </dxo-common-series-settings>

        <dxi-series 
            name="จำนวนสัปดาห์ที่ติดอันดับ" 
            valueField="Ranking" 
            color="#4B0082"> 
        </dxi-series>

        <dxo-argument-axis>
            <!-- <dxo-sorting-setting 
                mode="value" 
                sortField="Ranking" 
                order="desc">
            </dxo-sorting-setting> -->

            <dxo-label [visible]="true" template="labelTemplate"
                [customizeText]="customizeLabel"><dxo-font [size]="10"></dxo-font>
            </dxo-label>
            <dxo-tick [visible]="false"></dxo-tick>
        </dxo-argument-axis>

        <dxo-value-axis> 
             <dxo-title text="จำนวนสัปดาห์ที่ติดอันดับ (สัปดาห์)"></dxo-title>
        </dxo-value-axis>

        <dxo-legend [visible]="false"></dxo-legend>
        <dxo-tooltip [enabled]="true"></dxo-tooltip>

        <svg overflow="visible" *dxTemplate="let data of 'labelTemplate'">
            <text class="template-text" y="59" text-anchor="middle">
                {{ data.valueText }}
            </text>
        </svg>

    </dx-chart>
</div>

<div id="task-grid">
    <h2>🥇 รายละเอียดกองทุน Top 10</h2>
    <dx-data-grid 
    
        id="gridContainer" 
        [dataSource]="topChartData" [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        [width]="'100%'"
        > 
      <dxi-column dataField="Id" caption="อันดับ" alignment="left"></dxi-column> 
      <dxi-column dataField="FundName" caption="กองทุน" alignment="left"></dxi-column>
      <dxi-column dataField="Company" caption="บลจ." alignment="left"></dxi-column>
      <dxi-column dataField="Ranking" caption="จำนวนสัปดาห์ที่ติดอันดับ" alignment="left"></dxi-column>
      <dxi-column dataField="Return1Y" caption="ผลตอบแทน 3 ปีย้อนหลัง (% ต่อปี)" dataType="number" alignment="left"></dxi-column>
      <dxi-column dataField="Category" caption="ประเภทกองทุน" alignment="left"></dxi-column>

      </dx-data-grid>
</div>