<header class="top-header">
    <div class="header-left">
        <span class="site-title">{{ 'TOP_CHART_TITLE' | translate }}</span>
    </div>
    
    <div class="header-right">
        <app-language-switcher></app-language-switcher>

        <button (click)="navigateToManage()" class="manage-button" title="{{ 'MANAGE_FUND' | translate }}">
            <span class="pi pi-sliders-h"></span> {{ 'MANAGE_FUND' | translate }}
        </button>
    </div>
</header>

<div class="content-container">
    <div class="filter-area">
        <div class="filter-left">
            <div class="top-charts-branding">
                <span class="pi pi-chart-bar"></span>
                <span class="chart-text"> {{ 'TOP_CHART' | translate }}</span>
            </div>
        </div>
        <div class="filter-right">
            <label for="search-fund">{{ 'SEARCH_LABEL' | translate }}</label>
            <dx-text-box id="search-fund" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}" mode="search" width="250"></dx-text-box>
        </div>
    </div>
    
    <div class="chart-grid-area">
        <dx-chart id="chart" title="{{ 'CHART_TITLE' | translate }}" [dataSource]="chartData" (onPointClick)="onPointClick($event)">
             <dxo-common-series-settings type="bar" argumentField="FundName">
                <dxo-label [visible]="true" [customizeText]="customizeSeriesLabel"></dxo-label>
            </dxo-common-series-settings>
            <dxi-series name="จำนวนสัปดาห์ที่ติดอันดับ" valueField="Ranking"  color="#7D3C98"></dxi-series>
            <dxo-argument-axis><dxo-label [visible]="true" [customizeText]="customizeLabel"><dxo-font [size]="10"></dxo-font></dxo-label></dxo-argument-axis>
            <dxo-value-axis><dxo-title text="จำนวนสัปดาห์"></dxo-title></dxo-value-axis>
            <dxo-legend [visible]="false"></dxo-legend>
            <dxo-tooltip [enabled]="true"></dxo-tooltip>
        </dx-chart>

        <div id="fund-list-grid">
            <dx-data-grid 
                id="gridContainer" 
                [dataSource]="topChartData" 
                [showBorders]="true"
                [showRowLines]="true"
                [showColumnLines]="true"
                [allowColumnReordering]="false"
                [rowAlternationEnabled]="true"
                [columnAutoWidth]="true" 
                (onRowClick)="onRowClick($event)"> 
                
                <dxi-column dataField="Id" [caption]="'TABLE_RANK' | translate" alignment="center" [width]="70" [allowResizing]="false">
                    <div *dxTemplate="let data of 'cell'"> 
                        <span class="rank-badge rank-{{data.value}}">{{ data.value }}</span>
                    </div>
                </dxi-column>
                
                <dxi-column dataField="FundName" [caption]="'TABLE_FUND' | translate" alignment="left" [minWidth]="160">
                    <div *dxTemplate="let data of 'cell'">
                        <div class="fund-name">{{ data.value }}</div>
                        <div class="fund-company-sub">บลจ. {{ data.data.Company }}</div>
                    </div>
                </dxi-column>

                <dxi-column dataField="Company" [caption]="'TABLE_COMPANY' | translate" alignment="center" [width]="125"></dxi-column>
                
                <dxi-column dataField="Ranking" [caption]="'TABLE_WEEKS' | translate" alignment="center" [width]="210"></dxi-column>

                <dxi-column dataField="Return3Y" [caption]="'TABLE_RETURN' | translate" alignment="center" [width]="270">
                    <div *dxTemplate="let data of 'cell'">
                        <div class="return-val">{{ data.value | number:'1.2-2' }}%</div>
                    </div>
                </dxi-column>

                <dxi-column dataField="Lastrank" [caption]="'TABLE_LASTRANK' | translate" alignment="center" [width]="170"></dxi-column>

                <dxi-column dataField="Category" [caption]="'TABLE_CATEGORY' | translate" alignment="center" [width]="175"></dxi-column>

                <dxi-column [caption]="'TABLE_BUY' | translate" alignment="center" [width]="70" cellTemplate="buyCell"></dxi-column>
                
                <div *dxTemplate="let data of 'buyCell'">
                    <dx-button 
                        class="pi pi-shopping-cart"
                        hint="ซื้อกองทุน"
                        [elementAttr]="{ style: 'z-index: 999;' }" 
                        (onClick)="onBuyClick($event, data.data.Id)">
                    </dx-button>
                </div>
                
                <dxo-paging [pageSize]="10"></dxo-paging>
            </dx-data-grid>
        </div>
    </div>
</div>