@import "primeicons/primeicons.css";

.top-header { 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 15px 30px; 
    background-color: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
    position: relative;
}

.header-left {
    cursor: pointer;
    z-index: 2;
}
.site-title { font-weight: 800; font-size: 1.6em; color: #2c3e50; }

.header-center {
    position: absolute;      
    left: 50%;               
    transform: translateX(-50%); 
    display: flex;
    gap: 40px;              
}

.nav-link {
    font-size: 1rem;
    font-weight: 600;
    color: #666;             
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;
    
    &:hover {
        color: #00AEEF;      
    }
}

.header-right { 
    display: flex; 
    gap: 20px;
    z-index: 2;
}

.content-container { 
    width: 100%; 
    padding: 30px; 
    background-color: #f4f6f9; 
    min-height: 100vh; 
    box-sizing: border-box; 
}

.top-charts-branding{font-size: 17px; }
.filter-area { display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; background: white; padding: 15px; border-radius: 8px; width: 100%; }
.chart-grid-area { display: flex; flex-direction: column; gap: 30px; width: 100%; }
#chart { background: white; padding: 20px; border-radius: 8px; height: 400px; width: 100%; }
#fund-list-grid { background: white; padding: 0; width: 100%; border-radius: 8px; overflow: hidden; }

::ng-deep #fund-list-grid {
    .dx-datagrid-headers .dx-header-row {
        background-color: #909090; 
        color: white;
        td { 
            border-right: 1px solid #bbb !important; 
            font-weight: bold !important; 
            text-align: center !important; 
            box-align: center;
        }
    }
    .dx-row-alt > td { background-color: #eaf6f9 !important; }
    .dx-datagrid-borders > .dx-datagrid-headers,
    .dx-datagrid-borders > .dx-datagrid-rowsview,
    .dx-datagrid-rowsview .dx-row > td {
        border-color: #ddd !important;
    }
    .dx-datagrid-rowsview .dx-row > td {
        vertical-align: middle;
        padding: 10px;
        cursor: pointer;
    }
}

.rank-badge { font-weight: 900; font-size: 1.2em; }
.rank-1 { color: #d4af37; } .rank-2 { color: #2ecc71; } .rank-3 { color: #e74c3c; }
.fund-name { color: #2e8b57; font-weight: bold; }
.fund-company-sub { font-size: 0.85em; color: #777; }
.return-val { font-weight: bold; color: #333; }