<div class="content-container">

    <br class="filter-area">
        <div class="filter-left">
            <div class="top-charts-branding">
                <span class="chart-icon">📊</span>
                <span class="chart-text">Top Charts</span>
            </div>

        <div class="filter-right">
            <label for="search-fund">ค้นหาชื่อกองทุน:</label>
            <dx-text-box
                id="search-fund"
                placeholder="ค้นหากองทุน..."
                mode="search">
            </dx-text-box>
        </div>
    </div>
<br>
<div *ngIf="fundData; else noData" class="fund-detail-container">
    
    <header class="detail-header">
        <h1>{{ fundData.FundName }} <div class="nav-info">
                <span class="nav-value">{{ fundData.NAV | number:'1.4-4' }}</span>
                
            </div></h1>

    </header>

    <div class="main-content-area">
        <div class="key-metrics-box" >
            <h3>ข้อมูลสำคัญ</h3>
            <p><strong>ประเภทกองทุน:</strong> {{ fundData.Category }}</p>
            <p><strong>มูลค่าสินทรัพย์สุธิ:</strong> {{ fundData.AUM }}</p>
            <p><strong>วันที่จดทะเบียน:</strong> {{ fundData.RegisterDate }}</p>
            <p><strong>ความเสี่ยง:</strong> {{ fundData.RiskLevel }}</p>
        </div>
        <div class="nav-bar">
            <button class="pi pi-heart" (click)="navigateToFav()">ติดตาม</button>
            <button class="pi pi-wallet" (click)="navigateToBuy()"> ซื้อ</button>
            <button class="pi pi-money-bill" (click)="navigateToSell()"> ขาย</button>
        </div>
        <div class="chart-area">
            <h2>กราฟราคา NAV</h2>
            <div class="nav-chart-controls">
                </div>
            
            <dx-chart id="nav-chart" [dataSource]="navHistoryData">
                <dxi-series argumentField="Date" valueField="NAV" type="line" color="#00AEEF"></dxi-series>
                <dxo-argument-axis argumentType="datetime"></dxo-argument-axis>
                <dxo-legend [visible]="false"></dxo-legend>
                <dxo-tooltip [enabled]="true"></dxo-tooltip>
            </dx-chart>
        </div>
    </div>

    <div class="performance-table">
        <h2>ผลตอบแทนย้อนหลัง</h2>
        <dx-data-grid [dataSource]="performanceData" [showBorders]="true">
            <dxi-column dataField="FundName" caption="กองทุน" ></dxi-column>
            <dxi-column dataField="Period" caption="1 เดือน"></dxi-column>
            <dxi-column dataField="FundReturn" caption="3 เดือน"></dxi-column>
            <dxi-column dataField="BenchmarkReturn" caption="6 เดือน "></dxi-column>
            </dx-data-grid>
    </div>

    <br>
    <a routerLink="/" class="pi pi-backward"> กลับหน้าแรก</a>
</div>

<ng-template #noData>
  <p>ไม่พบข้อมูลกองทุน (ID: {{ fundId }})</p>
  <a routerLink="/"> กลับหน้าแรก</a>
</ng-template>