<header class="top-header">
    <div class="header-left">
        <span class="site-title">{{ 'MANAGE_FUND' | translate }}</span>
    </div>
</header>

<div class="manage-container">
    
    <div class="top-actions">
        <dx-button 
            [text]="'+ ' + ('BUTTON_ADD_NEW' | translate)" 
            type="success" 
            stylingMode="contained"
            icon="plus"
            (onClick)="startAdd()">
        </dx-button>
    </div>

    <div class="grid-wrapper">
        <dx-data-grid 
            id="gridContainer"
            [dataSource]="fundsData"
            [showBorders]="true"
            [showRowLines]="true"
            [showColumnLines]="true"
            [rowAlternationEnabled]="true"
            [columnAutoWidth]="true" 
            [allowColumnResizing]="true">

            <dxi-column dataField="Id" [caption]="'TABLE_RANK' | translate" alignment="center" [width]="70" [allowResizing]="false">
                <div *dxTemplate="let data of 'cell'"> 
                    <span class="rank-badge rank-{{data.value}}">{{ data.value }}</span>
                </div>
            </dxi-column>
            
            <dxi-column dataField="FundName" [caption]="'TABLE_FUND' | translate" alignment="left" [minWidth]="170">
                <div *dxTemplate="let data of 'cell'">
                    <div class="fund-name">{{ data.value }}</div>
                    <div class="fund-company-sub">{{ 'TABLE_COMPANY' | translate }} {{ data.data.Company }}</div>
                </div>
            </dxi-column>

            <dxi-column dataField="Company" [caption]="'TABLE_COMPANY' | translate" alignment="center" [width]="100"></dxi-column>
            
            <dxi-column dataField="Ranking" [caption]="'TABLE_WEEKS' | translate" alignment="center" [width]="170"></dxi-column>

            <dxi-column dataField="Return3Y" [caption]="'TABLE_RETURN' | translate" alignment="center" [width]="200">
                <div *dxTemplate="let data of 'cell'">
                    <div class="return-val">{{ data.value | number:'1.2-2' }}%</div>
                </div>
            </dxi-column>
            <dxi-column dataField="Lastrank" [caption]="'TABLE_LASTRANK' | translate" alignment="center" [width]="160"></dxi-column>

            <dxi-column dataField="Category" [caption]="'TABLE_CATEGORY' | translate" alignment="center" [width]="150"></dxi-column>

            <dxi-column [caption]="'MANAGE_FUND' | translate" cellTemplate="actionCell" alignment="center" [width]="150" [fixed]="true" fixedPosition="right"></dxi-column>
            
            <div *dxTemplate="let data of 'actionCell'">
            <div class="action-buttons-container">
                <dx-button 
                    icon="edit"
                    [text]="'BUTTON_EDIT' | translate" 
                    class="btn-custom-edit"
                    [elementAttr]="{ style: 'z-index: 999;' }" 
                    (onClick)="startEdit(data.data)">
                </dx-button>
        
                <dx-button 
                    icon="trash"
                    [text]="'BUTTON_DELETE' | translate"
                    class="btn-custom-delete"
                    [elementAttr]="{ style: 'z-index: 999;' }"
                    (onClick)="delete(data.data.Id)">
                </dx-button>
            </div>
            </div>
                        
            <dxo-paging [pageSize]="10"></dxo-paging>
        </dx-data-grid>
    </div>

    <hr style="margin: 30px 0; border: 0; border-top: 1px dashed #ccc;">
    
    <div *ngIf="selectedFund" id="edit-form" class="edit-form-card">
         <h3>{{ isNew ? ('TITLE_ADD' | translate) : ('TITLE_EDIT' | translate) }}</h3>
        
        <div class="form-grid">
            <div class="form-group">
                <label>{{ 'LABEL_ID' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Id"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'LABEL_FUND' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.FundName"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'LABEL_COMPANY' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Company"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'LABEL_WEEKS' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Ranking"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'TABLE_RETURN' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Return3Y"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'LABEL_LASTRANK' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Lastrank"></dx-text-box>
            </div>
            <div class="form-group">
                <label>{{ 'LABEL_CATEGORY' | translate }}</label>
                <dx-text-box [(value)]="selectedFund.Category"></dx-text-box>
            </div>
        </div>

        <div class="form-actions">
            <dx-button icon="save" [text]="'BUTTON_SAVE' | translate" type="default" class="btn-custom-save" [elementAttr]="{ style: 'z-index: 999;' }"  (onClick)="save()"></dx-button>
            <dx-button icon="close" [text]="'BUTTON_CANCEL' | translate" type="normal" class="btn-custom-cancel" [elementAttr]="{ style: 'z-index: 999;' }" (onClick)="cancel()"></dx-button>
        </div>
    </div>

    <br>
    <a routerLink="/" class="pi pi-backward back-link"> {{ 'LINK_BACK' | translate }}</a>
</div>


