/* ไฟล์ Theme (เลือกอย่างใดอย่างหนึ่ง แนะนำ Generic Light หรือ Material Blue) */
@import 'devextreme/dist/css/dx.light.css'; 

@import "primeicons/primeicons.css";

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}